<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="/css/style.css" rel="stylesheet">
</head>
<body>
	<nav class="usermenu-nav" th:fragment="usermenu-fragment">			
			<ul class="usermenu" sec:authorize="isAuthenticated()">
				<li><a id="um-loggedas-btn" href="/profile"> <i>You're logged as: <b><span sec:authentication="name">username</span></b></i></a></li> 				
    			<li><a id="um-profile-btn" href="/profile">PROFILE</a></li>
   				<li><a id="um-logout-btn" href="/logout">LOGOUT</a></li> 				
  			</ul>
  			
			<ul class="usermenu" sec:authorize="!isAuthenticated()">				
    			<li><a id="um-login-btn" href="/login">LOGIN</a></li>
   				<li><a id="um-register-btn" href="/register">REGISTER</a></li> 				
  			</ul>
	</nav>
	<!-- 
	Roles:<span sec:authentication="principal.authorities">[ROLE_USER,ROLE_ADMIN]</span>
	<div sec:authorize="hasRole('ROLE_ADMIN')">This content is only	shown to administrators.</div>
	<div sec:authorize="hasRole('ROLE_USER')">This content is only shown to users.</div>
	-->
</body>
</html>