.user-menu {
	position: relative;
	border: 3px solid black;
}

#logo-container {
	width: 70%;
	min-width: 800px;
	position: relative;
	margin: auto;
	border: 3px solid yellow;
}

#logo-img{
	width: 100%;	
	position: relative;	
	border: 3px solid orange;
}

.header-class {
	position: relative;
	margin: auto;
	border: 3px solid green;
}