#resetPassword-container {
	position: relative;
	margin: auto;
	padding: 1%;
	width: 70%;
}

#headline1{
	font-size: calc(20px + 1vw);
}

#headline2{
	font-size: calc(12px + 0.8vw);
	font-style: italic;
}

#resetPassword-table {
	width: 80%;
	position: relative;
	margin: auto;
}

.resetPassword-input {
	padding-top: 5px;
}

.resetPassword-error {
	padding-top: 15px;
	padding-left: 5px;
	color: red;
	font-size: calc(5px + 0.7vw);
	font-weight: bold;
}

.resetPassword-submit {
	padding-top: 5px;
	text-align: right;
}

#resetPassword-submit-button {
	min-width: 70px;
	width: 30%;
}