<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Change password</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<header th:replace="layouts/header :: header"></header>
	<h2>Change Password</h2>

	<div th:errors="${passwordDto}">Error register</div>

	<form th:object="${passwordDto}"
		th:action="@{/profile/change-password}" method="post">
		<table>
			<tr>
				<td>Old Password</td>
				<td><input type="password" th:field="*{oldPassword}"
					name="oldPassword" /></td>
				<td th:if="${#fields.hasErrors('oldPassword')}"
					th:errors="*{oldPassword}">oldPassword error Error</td>
			</tr>
			<tr>
				<td>New Password</td>
				<td><input type="password" th:field="*{password}"
					name="password" /></td>
				<td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password
					error Error</td>
			</tr>
			<tr>
				<td>Confirm Password</td>
				<td><input type="password" th:field="*{confirmPassword}"
					name="confirmPassword" /></td>
				<td th:if="${#fields.hasErrors('confirmPassword')}"
					th:errors="*{confirmPassword}">confirmPassword error Error</td>
			</tr>
			<tr>
				<td><button type="submit">Submit</button></td>
			</tr>
		</table>
	</form>

</body>
</html>