<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link href="/css/changePassword.css" rel="stylesheet">
	<head th:insert="layouts/header :: head-fragment">
</head>
<body>
	<header th:replace="layouts/header :: header"></header>
	
	<div id="changePassword-container">
		<p id="headline">Change Password</p>

		<div id="changePassword-errors" th:errors="${passwordDto}">Error register</div>

		<form th:object="${passwordDto}"
			th:action="@{/profile/change-password}" method="post">
			<table id="changePassword-table">
				<tr>
					<td class="changePassword-label">Old Password</td>
					<td class="changePassword-input"><input type="password" class="form-control" placeholder="Enter your old password" required th:field="*{oldPassword}"
						name="oldPassword" /></td>
					<td class="changePassword-error" th:if="${#fields.hasErrors('oldPassword')}"
						th:errors="*{oldPassword}">oldPassword error Error</td>
				</tr>
				<tr>
					<td class="changePassword-label">New Password</td>
					<td class="changePassword-input"><input type="password" class="form-control" placeholder="Enter new password" required th:field="*{password}"
						name="password" /></td>
					<td class="changePassword-error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password
						error Error</td>
				</tr>
				<tr>
					<td class="changePassword-label">Confirm Password</td>
					<td class="changePassword-input"><input type="password" class="form-control" placeholder="Enter new password again" required th:field="*{confirmPassword}"
						name="confirmPassword" /></td>
					<td class="changePassword-error" th:if="${#fields.hasErrors('confirmPassword')}"
						th:errors="*{confirmPassword}">confirmPassword error Error</td>
				</tr>
				<tr>
					<td id="changePassword-submit" colspan="3"><button id="changePassword-submit-button" class="btn btn-default" type="submit">Submit</button></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>