<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Forgotten password</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<header th:replace="layouts/header :: header"></header>

	<h2>Enter your email adress:</h2>
	<form th:object="${user}" th:action="@{/forgotten-pass}" method="post">
		<input type="text" th:field="*{email}" name="email">
		<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email
			error Error</p>
		<button type="submit">Submit</button>
	</form>
</body>
</html>