<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<head th:insert="layouts/header :: head-fragment">
</head>
<body>
	<header th:replace="layouts/header :: header"></header>

	<h2>Enter your email adress:</h2>
	<form th:object="${user}" th:action="@{/forgotten-pass}" method="post">
		<input type="text" class="form-control" th:field="*{email}" name="email">
		<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email
			error Error</p>
		<button class="btn btn-default" type="submit">Submit</button>
	</form>
</body>
</html>