<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<head th:insert="layouts/header :: head-fragment">
</head>
<body>
	<header th:replace="layouts/header :: header"></header>
	<h1>Login</h1>

	<p th:if="${loginError}">Wrong user or password</p>
	<form th:action="@{/login}" method="post" th:fragment="login">

		<table>
			<tr>
				<td>Username</td>
				<td><input type="text" class="form-control" name="username"></td>
			</tr>
			<tr>
				<td>Password</td>
				<td><input type="password" class="form-control" placeholder="Enter password" name="password"></td>
			</tr>
			<tr>
				<td><input type="checkbox" name="remember-me"></td>
				<td>Remember me on this Computer</td>
			</tr>
			<tr>
				<td><button class="btn btn-default" type="submit">Login</button></td>
			</tr>
		</table>
	</form>

	<a href="/forgotten-password">Forgot your password?</a>
</body>
</html>