<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link href="/css/profile.css" rel="stylesheet">
	<head th:insert="layouts/header :: head-fragment">
</head>
<body>
	<header th:replace="layouts/header :: header"></header>

	<div id="profile-container">
		<div id="change-password">
		<form action="/profile/change-password">
		<input id="change-password-button" class="btn btn-default" type="submit" value="Change Password" />
		</form>
		</div>
		
		<form th:object="${user}" th:action="@{/profile/change-details}"
			method="post">
			<table id="profileform-table">
				<tr>
					<td class="profile-label"><b>Username:</b></td>
					<td class="profile-input"><b><input disabled type="text" class="form-control" th:field="*{username}" name="username" /></b></td>
				</tr>
				<tr>
					<td class="profile-label">Firstname:</td>
					<td class="profile-input"><input type="text" class="form-control" th:field="*{firstname}" name="firstname" /></td>
				</tr>
				<tr>
					<td class="profile-label">Lastname:</td>
					<td class="profile-input"><input type="text" class="form-control" th:field="*{lastname}" name="lastname" /></td>
				</tr>
				<tr>
					<td class="profile-label">Email</td>
					<td class="profile-input"><input type="text" class="form-control" th:field="*{email}" name="email" /></td>
					<td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email
						error Error</td>
				</tr>
				<tr>
					<td class="profile-label">Phone number:</td>
					<td class="profile-input"><input type="text" class="form-control" th:field="*{phoneNumber}"
						name="phoneNumber" /></td>
				</tr>
				<tr>
					<td class="profile-label">Date of birth:</td>
					<td class="profile-input"><input type="text" class="form-control" th:field="*{dateOfBirth}"
						name="dateOfBirth" /></td>
				</tr>
				<tr>
					<td class="profile-label">Country:</td>
					<td class="profile-input"><input type="text" class="form-control" th:field="*{country}" name="country" /></td>
				</tr>
				<tr>
					<td class="profile-label">City:</td>
					<td class="profile-input"><input type="text" class="form-control" th:field="*{city}" name="city" /></td>
				</tr>
				<tr>
					<td class="profile-label">Adress:</td>
					<td class="profile-input"><input type="text" class="form-control" th:field="*{adress}" name="adress" /></td>
				</tr>
				<tr>
					<td class="profile-label">Zipcode:</td>
					<td class="profile-input"><input type="text" class="form-control" th:field="*{zipcode}" name="zipcode" /></td>
				</tr>
				<tr>
					<td id="profile-submit" colspan="2"><button id="profile-submit-button" class="btn btn-default" type="submit">Submit</button></td>
				</tr>
			</table>
			<input type="hidden" th:field="*{username}" name="username"
				value="${user.username}" /> <input type="hidden" th:field="*{id}"
				name="id" value="${user.id}" />
		</form>
	</div>
</body>
</html>