<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Profile</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<header th:replace="layouts/header :: header"></header>

	<h4 th:text="${user.username}">Username</h4>
	<h4 th:text="${user.email}">Email</h4>
	<h4 th:text="${user.firstname}">Email</h4>
	<h4 th:text="${user.lastname}">Email</h4>
	<h4 th:text="${user.country}">Email</h4>
	<a href = "/profile/change-password">Change Password</a>
</body>
</html>