<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<head th:insert="layouts/header :: head-fragment">
</head>
<body>
	<header th:replace="layouts/header :: header"></header>
	<h2>Register</h2>

	<div th:errors="${user}">Error register</div>

	<form th:object="${user}" th:action="@{/reg}" method="post">
		<table>
			<tr>
				<td>Name:</td>
				<td><input type="text" class="form-control" th:field="*{username}" name="username" /></td>
				<td th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username
					Error</td>
			</tr>
			<tr>
				<td>Password</td>
				<td><input type="password" class="form-control" th:field="*{password}"
					name="password" /></td>
				<td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password
					error Error</td>
			</tr>
			<tr>
				<td>Email</td>
				<td><input type="text" class="form-control" th:field="*{email}" name="email" /></td>
				<td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email
					error Error</td>
			</tr>
			<tr>
				<td><button class="btn btn-default" type="submit">Submit</button></td>
			</tr>
		</table>
	</form>

</body>
</html>