<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link href="/css/register.css" rel="stylesheet">
	<head th:insert="layouts/header :: head-fragment">
</head>
<body>
	<header th:replace="layouts/header :: header"></header>
	
	<div id="register-container">
		<h2>Register</h2>
		
		<form th:object="${user}" th:action="@{/reg}" method="post">
			<table id="registerform-table">
				<tr th:classappend="${#fields.hasErrors('username')} ? has-error : no-error">
				<td class="register-label">Username:</td>
				<td class="register-input"><input type="text" class="form-control" placeholder="Enter username" required th:field="*{username}" name="username" />
				<td class="register-error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</td>
			</tr>
			<tr th:classappend="${#fields.hasErrors('password')} ? has-error : no-error">
				<td class="register-label">Password:</td>
				<td class="register-input"><input type="password" class="form-control" placeholder="Enter password" required th:field="*{password}"
					name="password" /></td>
				<td class="register-error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password
					error Error</td>
			</tr>
			<tr th:classappend="${#fields.hasErrors('email')} ? has-error : no-error">
				<td class="register-label">Email:</td>
				<td class="register-input"><input type="text" class="form-control" placeholder="Enter email" required th:field="*{email}" name="email" /></td>
				<td class="register-error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email
					error Error</td>
			</tr>
			<tr>
				<td colspan=3 id="register-submit"><button id="register-submit-button" class="btn btn-default" type="submit">Register</button></td>
			</tr>
		</table>
	</form>
	</div>
</body>
</html>