<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>403</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<style>
.error {
	color: #ff0000;
}

.errorblock {
	color: #000;
	background-color: #ffEEEE;
	border: 3px solid #ff0000;
	padding: 8px;
	margin: 16px;
}
</style>
<body>

	<h2>HTML Forms</h2>

	<form th:object="${user}" th:action="@{/reg}" method="post">
		<table>
			<tr>
				<td>Name:</td>
				<td><input type="text" th:field="*{username}" name="username" /></td>
				<td th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username
					Error</td>
			</tr>
			<tr>
				<td>Password</td>
				<td><input type="password" th:field="*{password}"
					name="password" /></td>
				<td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error
					Error</td>
			</tr>
			<tr>
				<td><button type="submit">Submit</button></td>
			</tr>
		</table>
	</form>

</body>
</html>