<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Reset Password</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<header th:replace="layouts/header :: header"></header>

	<div th:if="${validLink}">
		<h4 th:text="${user.username}">Username</h4>
		<p>Now set you new password</p>
		<form th:object="${user}" th:action="@{/change-password}" method="post">
			<input type="password" th:field="*{password}" name="password">
			<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password
				error Error</p>
			<input type="hidden"  th:field="*{username}" name="username" value="${user.username}"/>
			<button type="submit">Submit</button>
		</form>
	</div>

	<div th:if="!${validLink}">
	<p th:text="${error}">Information</p>
	</div>
</body>
</html>