<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link href="/css/resetPassword.css" rel="stylesheet">
	<head th:insert="layouts/header :: head-fragment">
</head>
<body>
	<header th:replace="layouts/header :: header"></header>

	<div id="resetPassword-container" th:if="${validLink}">
		<p id="headline1">Hello, <span id="username-info" th:text="${user.username}">Username</span></p>
		<p id="headline2">Reset old password by setting new one.</p>
		
		<form th:object="${user}"  th:action="@{/change-password}" method="post">
			<table id="resetPassword-table">
				<tr>
					<td class="resetPassword-input"><input type="password" class="form-control" required placeholder="Enter new password" 
					th:field="*{password}" name="password"></td>
					<td class="resetPassword-error"><p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password
					error Error</p></td>
				<tr>
					<td class="resetPassword-submit"><input type="hidden"  th:field="*{username}" name="username" value="${user.username}"/>
					<button id="resetPassword-submit-button" class="btn btn-default" type="submit">Submit</button></td>
				</tr>
			</table>
		</form>
	</div>

	<div  id="info-container" th:if="!${validLink}">
		<p id="info" th:text="${error}">Information</p>
	</div>
</body>
</html>