<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<head th:insert="layouts/header :: head-fragment">
</head>
<body>
	<header class="header-class" th:fragment="header-fragment">
		<div id="logo-container">
			<a href="/"><img id="logo-img" alt="logo" src="https://i.imgur.com/6Q4AhT8.png"></a>
	</div>
	</header>
	
	<p>Hello, <span style="color: red;" th:text="${username}">username</span>!
	<br><br>    If you want to reset your current password <a th:href="@{${link}}">click here</a> in order to set new one.
	If you didn't ask for reseting your password just ignore this email.
	<br>
	<br>
	<p align="right">Regards, Matchday</p>
</body>
</html>