<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<head th:insert="layouts/header :: head-fragment">
</head>
<body>
	<header class="header-class" th:fragment="header-fragment">
		<div id="logo-container">
			<a href="/"><img id="logo-img" alt="logo" src="https://i.imgur.com/6Q4AhT8.png"></a>
	</div>
	</header>
	
	<p>Hello, <span th:text="${name}">username</span>!
	<br><br>Welcome to our website, we are glad that you joined us.
	<br> You can log in with your username and password in order to buy tickets for a game that you want to watch.
	<br>
	<br>
	<p align="right">Regards, Matchday</p>
</body>
</html>